.txt{
    font-family: 'Roboto Slab', serif;
}
.dance{
    font-family: 'Dancing Script', cursive;
}
.courgette{
    font-family: 'Courgette', cursive;
}
.cuprum{
    font-family: 'Cuprum', sans-serif;
}
